@font-face{
    font-family: Manrope;
    src: url('./res/fonts/Manrope/Manrope-Regular.woff2');
}
@font-face{
    font-family: Manrope-Bold;
    src: url('./res/fonts/Manrope/Manrope-Bold.woff2');
}
@font-face{
    font-family: MinecraftUI;
    src: url('./res/fonts/MC/better-minecraft.ttf');
}
*{
    font-family: Manrope;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    text-shadow: 0px 1px 1px #aaa;
}

body{
    background-color: #f9f9f9;
    background: linear-gradient(180deg, rgba(249,249,249,1) 20%, rgba(240,240,240,1) 40%);
    background-size: 100% 0.3em;
    background-position: center top;
    background-attachment: fixed;
}
nav{
    width: auto;
    height: 2.7em;
    color: #797979;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    box-shadow: 0em 1em 1em #0000001c;
    background: rgb(85,0,0);
    background: linear-gradient(0deg, rgba(85,0,0,1) 1%, rgba(116,0,0,1) 6%, rgba(214,85,85,1) 90%, rgba(227,161,161,1) 96%, rgba(241,225,225,1) 100%);
    user-select: none;
    position: sticky;

}

h1,h2,h3,h4,h5,h6{
    font-family: Manrope-Bold;
}

a{
    color: #f21f1f;;
    text-decoration: none;
}

a:hover{
    animation: link-animation 1s infinite alternate linear;
}

@keyframes link-animation{
    0%{
        color: #f21f1f;
    }
    100%{
        color: #c12929;
    }
}

.nav-title{
    /*nav title*/
    font-family: Manrope;
    font-size: 2em;
    color: rgb(236, 228, 228);
    text-shadow: 2px 2px 1px #514e4ebd;
}
.under-construction{
    color: #a83434;
    width: 100%;
    text-align: center;
}
.mc-text{
    font-family: MinecraftUI;
    color: #f7f43c;
    text-shadow: 1px 1px 0px #847f7f;
    position: absolute;
    top: 1.6em;
    left: 50%;
    animation: mctitleanim 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes mctitleanim{
    0% {
        transform: scale(1.0) rotate(-7deg);
    }
    100% {
        transform: scale(1.2) rotate(-7deg);
    }
}

.separator{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow:
    0.2em 0.4em 1em #0000002e,
    inset 0 0 20px 2px #0000002e;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 10%, rgba(240,240,240,1) 92%, rgba(223,223,223,1) 100%);
}
p{
    margin-bottom: 1em;
}

/* Media queries */
/* Mobile */
@media (max-width: 768px){
    .separator{
        margin-left: 8%;
        margin-right: 8%;
    }

    .mc-text{
        font-family: MinecraftUI;
        color: #f7f43c;
        text-shadow: 1px 1px 0px #847f7f;
        position: absolute;
        top: 1.6em;
        left: 55%;
        animation: mctitleanim 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    @keyframes mctitleanim{
        0% {
            transform: scale(0.7) rotate(-7deg);
        }
        100% {
            transform: scale(0.8) rotate(-7deg);
        }
    }

    .nav-title{
        /*nav title*/
        font-family: Manrope;
        font-size: 1em;
        color: rgb(236, 228, 228);
        text-shadow: 2px 2px 1px #514e4ebd;
        top: 1.2em;
    }

}
/* Tablet */
@media (max-width: 1260px){
    .separator{
        margin-left: 8%;
        margin-right: 8%;
    }

    .mc-text{
        font-family: MinecraftUI;
        color: #f7f43c;
        text-shadow: 1px 1px 0px #847f7f;
        position: absolute;
        top: 1.6em;
        left: 55%;
        animation: mctitleanim 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    @keyframes mctitleanim{
        0% {
            transform: scale(0.7) rotate(-7deg);
        }
        100% {
            transform: scale(0.8) rotate(-7deg);
        }
    }

    .nav-title{
        /*nav title*/
        font-family: Manrope;
        font-size: 1em;
        color: rgb(236, 228, 228);
        text-shadow: 2px 2px 1px #514e4ebd;
        top: 1.2em;
    }
}

.main-list-container{
    text-align: center;
}

.main-text{
    font-size: 1.4em;
}

.main-list{
    font-size: 2em;
    font-family: Manrope-Bold;
    list-style: none;
    margin-bottom: 0.2em;
}

.main-list a{
    font-family: Manrope-Bold;
}

.hq-rips:hover{
    animation: rainbow-text 5s infinite alternate linear;
}

.gray-link{
    color: #8383837d;
    text-decoration: none;
}

.hidden-link:{
    color: transparent !important;
    text-decoration: none;
}

.hidden-link:hover{
    transition: 0.3s;
    color: #8383837d !important;
    text-decoration: none;
}

@keyframes rainbow-text{  
    0%{color: #f21f1f;}
    10%{color: CadetBlue;}
    20%{color: yellow;}
    30%{color: coral;}
    40%{color: green;}
    50%{color: cyan;}
    60%{color: DeepPink;}
    70%{color: DodgerBlue;}
    80%{color: orange;}
    90%{color: purple;}
    100%{color: #f21f1f;}
}

.soundcloud:hover{
    animation: soundcloud-color 1s infinite alternate linear;
}

@keyframes soundcloud-color{
    0%{
        color: #f21f1f;
    }
    100%{
        color: #f50;
    }
}