 body{
  	text-align: center;
  	font-family: 'Muli', sans-serif;
  	color: #A3A3A0;
  	background-color: #292928;

  }

  ul{
    text-align: center;
    list-style-type: none;

    }

  a{
  text-decoration: none;
  color: #BDBD7E;
  margin-right: 1em;
    }
    
  a:visited{
  color: #F7CE65;
  margin-right: 1em;
  }
  
  h2{
    margin-top: 0px;
    color: black;
    font-size: 1em;
    }

  .image:hover{
   transformX(50px);
    }
  hr{
    width: 5em;
    height: 0em;
  }
